<!DOCTYPE html>
<html lang="en">
<head>
	<title>Swine</title>
	<link rel="stylesheet" type="text/css" href="/stylesheets/main.css">
	<link href="https://fonts.googleapis.com/css?family=Muli:400,700|Barlow&display=swap" rel="stylesheet">
</head>
<body>
	<nav role="navigation">
		<a class="nav-item" id="nav-brand" href="/">Swine</a>
		<a class="nav-item" href="/">Home</a>
		<a class="nav-item" href="/about">About</a>
		<a class="nav-item" href="/products">Products</a>
		<a class="nav-item" href="/blog">Blog</a>
	</nav>