<%include partials/header.ejs%>
<div class="container about">
	<h1>About Us</h1>
	<h3>We are a company that makes luxury minivans with an emphasis on form over function.</h3>
	<p>
		Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
		tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
		quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
		consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
		cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
		proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
	</p>
	<div class="sign-cta">
		<p>Sign up for our newsletter!</p>
		<a class="sign-up-button" href="#sign-up-form">Sign Up</a>
	</div>
	<div class="testimonials-container">
		<blockquote>
			<p>Excepteur sint occaecat cupidatat non
		proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
			</p>
			<cite>Author</cite>
		</blockquote>
		<blockquote>
			<p>Excepteur sint occaecat cupidatat non
		proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
			</p>
			<cite>Author</cite>
		</blockquote>
		<blockquote>
			<p>Excepteur sint occaecat cupidatat non
		proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
			</p>
			<cite>Author</cite>
		</blockquote>
		<blockquote>
			<p>Excepteur sint occaecat cupidatat non
		proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
			</p>
			<cite>Author</cite>
		</blockquote>
		<blockquote>
			<p>Excepteur sint occaecat cupidatat non
		proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
			</p>
			<cite>Author</cite>
		</blockquote>
		<blockquote>
			<p>Excepteur sint occaecat cupidatat non
		proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
			</p>
			<cite>Author</cite>
		</blockquote>
	</div>
</div>
<%include partials/footer.ejs%>