<%include partials/header.ejs%>
<h1>Blog</h1>
<div>
	<%blogs.forEach((blog) => {%>
	<div>
		<h3><%=blog.title%></h3>
		<img src="<%=blog.image.src%>" alt="<%=blog.image.src%>">
		<p><%=blog.body%></p>
	</div>
	<%});%>
</div>
<%include partials/footer.ejs%>