:root {
	--main-red: #C92E2E;
	--light-red: #EE6352;
	--dark-red: #4A1111;
	--yellow: #F2DC5D;
	--green: #59CD90;
	--white: #FBFBFB;
	--black: #252524;

	--display: 'Muli', sans-serif;
	--body: 'Barlow', sans-serif;
}

body {
	background-color: white;
	margin: 0;
	color: var(--black);
	font-family: var(--body);
}

a {
	text-decoration: none;
	color: var(--black);
}

h1, h2, h3, h4 {
	font-family: var(--display);
}

h1 {
	font-size: 8rem;
	margin: 0;
	color: var(--main-red);
}

.container {
	/*width: 100%;*/
	background-color: var(--white);
	min-height: calc(100vh - 3rem);
	margin: 0 2.5rem;
	padding: 0 2.5rem;
}

/*NAVBAR STYLING*/

nav {
	position: sticky;
	left: 0;
	top: 0;
	height: 3rem;
	background-color: var(--white);
	display: flex;
	align-items: flex-end;
	z-index: 1000;
}

nav ul {
	list-style: none;
}

.nav-item {
	font-size: 1.5rem;
	padding: 1.2rem 1rem 0.7rem 1rem;
	cursor: pointer;
	border-left: 2px solid var(--main-red);
	border-bottom: 0rem solid var(--yellow);
	transition: border-bottom 150ms linear, padding-bottom 150ms linear;
}

.nav-item:hover, .nav-item:focus-within {
	padding-bottom: 0px;
	border-bottom-width: 0.7rem;
}

.nav-item:last-of-type {
	border-right: 2px solid var(--main-red);
}

#nav-brand {
	color: var(--main-red);
	font-size: 2.5rem;
	padding: 1px 1.5rem 1px 0.5rem;
	border-left: 2.5rem solid var(--main-red);
	height: auto;
	font-family: var(--display);
	transition: color, background-color 150ms linear;
}

#nav-brand:hover, #nav-brand:focus-within {
	color: var(--white);
	background-color: var(--main-red);
	border-bottom: none;
}

/*LANDING STYLING*/
.container.landing {
	padding: 0;
}

.landing section {
	height: 50vh;
	display: flex;
	flex-direction: row;
	/*background-color: var(--yellow);*/
}

.landing-section-text {
	width: 40vw;
	height: 50vh;
	/*padding: 0 2.5rem;*/
}

.landing-section-text h2 {
	margin-top: 2.5rem;
}

.landing section:nth-of-type(odd) {
	justify-content: flex-end;
}

.landing section:nth-of-type(even) {
	justify-content: flex-start;
}

.landing section:nth-of-type(odd) .landing-section-text {
	background-color: var(--yellow);
	text-align: right;
	padding-right: 2.5rem;
}

.landing section:nth-of-type(even) .landing-section-text {
	background-color: var(--light-red);
	text-align: left;
	padding-left: 2.5rem;
}

.sign-up-button {
	padding: 0.6rem 2rem;
	border-radius: 0.4rem;
	border: 0.1rem solid var(--yellow);
	background-color: var(--yellow);
	color: var(--black);
	font-weight: bold;
}

.sign-up-button:hover, .sign-up-button:focus-within {
	color: var(--white);
}

.sign-up-button:active {
	background-color: var(--white);
	color: var(--yellow);
}

.sign-cta {
	height: auto;
	display: flex;
    justify-content: center;
    align-items: center;
    width: 12rem;
    flex-wrap: wrap;
    background-color: var(--white);
    border-radius: 0.4rem;
    padding: 0 2rem;
    margin-left: auto;
}

.sign-cta p {
	margin-top: 1rem;
}

.sign-cta a {
	margin-bottom: 1rem;
}

#top-section {
	/*background-image: url("http://source.unsplash.com/ndiBRRnb7II");*/
	background-position: left;
}

#top-section .landing-section-text {
	float: left;
	width: 40vw;
	padding-left: 0;
}

.landing section:nth-of-type(odd) .landing-section-text::before {
	content: "";
	position: absolute;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 0 10vw 50vh 0;
	border-color: transparent var(--yellow) transparent transparent;
	transform: translateX(-50vw);
}

.landing section:nth-of-type(even) .landing-section-text::before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 0vw 50vh 10vw;
    border-color: transparent transparent transparent var(--light-red);
    transform: translateX(40vw);
}

#sign-up-form {
	width: 100%;
	justify-content: center;
	background-color: var(--yellow);
}

#sign-up-form .landing-section-text {
	margin: auto;
	text-align: center;
	padding: 0;
}

#sign-up-form .landing-section-text::before {
	display: none;
}

#sign-up-form h2 {
	font-size: 3.4rem;
}

#sign-up-form h3 {
	margin: 0;
}

#sign-up-form input {
	font-size: 2rem;
	width: 40vw;
	margin-bottom: 1rem;
	border: none;
    background-color: var(--white);
    text-align: center;
}

/*ABOUT STYLING*/
.about h1 {
	color: var(--main-red);
}

.about h3 {
	color: var(--light-red);
}

.about .sign-cta {
	margin: 0 auto 1rem auto;
	background-color: lightgrey;
}

.testimonials-container {
	display: flex;
	flex-wrap: wrap;
	margin: 0 auto;
	width: 51rem;
	padding-bottom: 2.5rem;
}

blockquote {
	width: 15rem;
	padding: 1rem;
	margin: 0;
	position: relative;
}

blockquote p::before {
    content: '"';
    position: absolute;
    font-size: 10rem;
    font-family: cursive;
    margin-top: -5rem;
    opacity: 0.2;
}

blockquote p::after {
	content: '"';
    position: absolute;
    font-size: 10rem;
    font-family: cursive;
    margin-top: -8rem;
    margin-left: 8rem;
    transform: rotate(180deg);
    opacity: 0.2;
}

cite {
	color: var(--main-red);
}

blockquote:nth-of-type(odd) {
	background-color: #E5E5E5;
}

blockquote:nth-of-type(even) {
	background-color: #CECECE;
}

/*PRODUCTS*/
.product-section {
	display: flex;
	padding: 2.5rem;
	background-color: #E5E5E5
}

.product-section:nth-of-type(even) {
	flex-direction: row-reverse;
	background-color: #CECECE;
}

.product-section:nth-of-type(even) .product-text {
	text-align: right;
	margin-right: 1rem;
	margin-left: 0;
}

.product-section:nth-of-type(even) .product-features li {
	margin: 0 0 0 5px;
}

.product-image {
	height: 15rem;
	width: 22.5rem;
	border: 3px solid black;
	border-radius: 5px;
	display: inline;	
	overflow: hidden;
}

.product-image img {
	height: 100%;
	width: auto;
	transform-origin: center;
	transition: all 200ms ease-in;
}

.product-image:hover img {
	transform: scale(1.1);
}

.product-text {
	margin-left: 1rem;
}

.product-name {
	color: var(--main-red);
}

.product-features {
	list-style: none;
	padding: 0;
	display: flex;
	margin: 0.3rem 0;
}

.product-features li {
	list-style: none;
    width: 90px;
    margin: 0 5px 0 0;
    padding: 5px 0;
    text-align: center;
    background-color: var(--white);
    border-radius: 0.4rem;
}

.product-features li::before {
	content: '#';
	color: #CECECE;
}

.product-price {
	font-weight: bold;
}