<%include ../partials/header.ejs%>
<div class="container blog">
	<div class="row">
		<div class="col-12 col-lg-6 mx-lg-auto">
				<h1 class="display-4"><%=blog.title%></h1>
				<img class="img-fluid"
					src="<%=blog.image.src%>" 
					alt="<%=blog.image.src%>">
				<p class="blog-body-full"><%=blog.body%></p>
			</div>
	</div>
</div>
<%include ../partials/footer.ejs%>